@model IEnumerable<Isracard.Models.IndexViewModel>

<script src="~/Scripts/GithubJS.js"></script>
<h1>Results</h1>
<div class="row">
    @foreach (var item in ViewBag.SearchResults)
    {
        <div class="col-md-4">
            <h2>@item.Name</h2>
            <img src="@item.Avatar" height="100" width="100" />
            <p><a class="btn btn-default" href="@item.Url">Navigate to project</a></p>
            <button class="btn btn-default" type="submit" onclick="AddToBookMark('@item.ID','@item.Name','@item.Avatar','@item.Url')"><i class="glyphicon glyphicon-bookmark"></i>Add Bookmark</button>
        </div>
    }
</div>
@*<table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.HasPassword)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PhoneNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TwoFactor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BrowserRemembered)
            </th>
            <th></th>
        </tr>

    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.HasPassword)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhoneNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TwoFactor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BrowserRemembered)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
    }

    </table>*@
